<footer class="footer">
    <div class="footer-container">
      <div class="footer-contact">
        <h3>Contact us</h3>
        <ul>
          <li>Email: info@artspage.com</li>
          <li>Phone: 1-888-555-1234</li>
        </ul>
      </div>
      <div class="footer-follow">
        <h3>Follow us</h3>
        <ul>
          <li><a href="https://www.facebook.com/artpage">Facebook</a></li>
          <li><a href="https://twitter.com/ArtsPage">Twitter</a></li>
          <li><a href="https://www.instagram.com/artspageofficial/">Instagram</a></li>
        </ul>
      </div>
    </div>
    <p>&copy; 2023 Arts Page. All rights reserved.</p>
  </footer>