<div class="container">
    <h1 class="mt-5  border-bottom pb-3">Documentation</h1>
    <div class="des1">
        Explore thousands of artworks in the museum’s collection—from our renowned icons to lesser-known works from
        every corner of the globe—as well as our books, writings, reference materials, and other resources.
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px;">
                <img src="../../assets/images/documentation1/welcomePage.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Welcome Page</h3>
                The Welcome Page Contains a carousel With the latest arts.
                It contains Navbar with fields Home, Favourites, Documentation.
                On clicking on these fields users can navigate between various pages.
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Sample Arts</h3>
                The Home page contains various arts to explore.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px;">
                <img src="../../assets/images/documentation/sampleArts.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/paginator.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Paginator</h3>
                The paginator is used to navigate between pages, to change page limit and so on.
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Search Bar</h3>
                We can search arts by art name, artist name, time period, exhibition history and many more.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/searchBar.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/searchResult.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Search Bar Results</h3>
                Based the given input the arts are displayed just below the search bar.
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Show Full Details</h3>
                By clicking on this icon we can navigate to art page which contains detailed information of arts.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/showDetails.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Individual Art Page </h3>
                This page contains detailed information of selected art.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation/fullArtPage.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation/Favourite.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Add to Favourites</h3>
                By clicking on this icon we can add the art to favouites.
                By clicking on the already Favourites art, the art will be removed from favourites.
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Favourite Arts on Home Page</h3>
                All the favourite arts checked by user will be displayed with different icon i.e., heart filled icon.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation/favouriteArts.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Favourite Arts Page</h3>
                All the favourite arts checked by user will be displayed with different icon i.e., heart filled icon.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/favouritesPage.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/share.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Share Option</h3>
                The user can share arts on various platforms.
            </div>
        </div>
    </div>
    <div class="mt-5 p-2">
        <div class="row align-items-center">

            <div class="description col-lg-4 col-sm-12">
                <h3>On Sharing </h3>
                A dialog box will be dispalyed with various platforms like Instagram, Facebook etc.
            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/shareDialog.png" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2 " style="margin-bottom: 200px;">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/login.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Login Page </h3>
                This Page will the login form, after entering the details the user is redirected to customized page.
            </div>

        </div>
    </div>
    <div class="mt-5 p-2 " style="margin-bottom: 200px;">
        <div class="row align-items-center">
            <div class="description col-lg-4 col-sm-12">
                <h3>Sign Up Page </h3>
                This Page will the Sig Up form, users can successfully sign up in the website for additional features.

            </div>
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/signUp.png" class="w-100">
            </div>
        </div>

    </div>
    <div class="mt-5 p-2 " style="margin-bottom: 200px;">
        <div class="row align-items-center">
            <div class="col-lg-8 col-sm-12" style="object-fit: contain; height: 300px; margin-top: 60px;">
                <img src="../../assets/images/documentation1/documentation.png" class="w-100">
            </div>
            <div class="description col-lg-4 col-sm-12">
                <h3>Documentation Page </h3>
                This Page contains detailed information of different features of website.
            </div>

        </div>
    </div>